
process {

  withLabel: bam_to_cram {
    cpus = 64
    memory = '50G'
    time = '2h'
  }


  withLabel: plot_vaf {
    cpus = 1
    time = '10m'
  }

  withLabel: merge_label {
    cpus = 1
    time = '1h'
    memory = '1G'
  }

  withLabel: FastQC_label {
    cpus = 4
    time = '3h'
    memory = '8G'
  }

  withLabel: cutadapt {
    cpus = 64
    memory = '5G'
    time = '4h'
  }

  withLabel: bwa_label {
    cpus = 64
    time = '16h'
    memory = '200G'
  }

  withLabel: depth_label {
    cpus = 1
    time = '3h'
    memory = '50G'
  }


  withLabel: samtools_sort {
    cpus = 64
    time = '5h'
    memory = '200G'
  }

  withLabel: picard_cleansam {
    cpus = 64
    time = '8h'
    memory = '100G'
  }

  withLabel: samtools_fixmate {
    cpus = 64
    time = '5h'
    memory = '100G'
  }

  withLabel: samtools_markdup {
    cpus = 64
    time = '6h'
    memory = '100G'
  }

  withLabel: samtools_index {
    cpus = 64
    time = '2h'
    memory = '10G'
  }

  withLabel: strelka {
    cpus = 64
    time = '8h'
  }

  withLabel: mutect {
    cpus = 64
    time = '8h'
  }

  withLabel: mutect_flag {
    cpus = 4
    time = '1h'
  }


  withLabel: depth_label {
    time = '3h'
  }

  withLabel: fings {
    cpus = 16
    time = '1h'
  }

}
