includeConfig "/groups/group-garaycoechea/linda/MuFASA/nextflow/configs/process.config"
includeConfig "/groups/group-garaycoechea/linda/MuFASA/nextflow/configs/nextflow.config"

params {
  project_name = "SBS17_Human_diploid"
  base_dir = "/groups/group-garaycoechea/linda/MuFASA/"
  resource_dir = "/groups/group-garaycoechea/linda/references/"
  script_dir = "${base_dir}/nextflow/scripts/"
  project_dir = "${base_dir}/${project_name}/"
  fastq_path = "${project_dir}FASTQ/"
  merged_dir = "${project_dir}FASTQ/MERGED/"
  fastqc_path = "${project_dir}FASTQC/"
  mapping_dir = "${project_dir}MAPPING/"
  strelka = "${project_dir}Strelka/"
  manta = "${project_dir}Manta/"
  gridss = "${project_dir}Gridss/"
  structural = "${project_dir}Structural/"
  mutect = "${project_dir}Mutect/"
  filtered_dir = "${project_dir}/Filtered/"
  snvs_filtered = "${project_dir}/snvs_Filtered/"
  indel_filtered = "${project_dir}/indel_Filtered/"
  pdf_path = "${project_dir}/PDFs/"
  ref = "${params.resource_dir}/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna"
  chrs = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "X", "Y", "M"]
  nrChrs = 25
  pon = "${params.resource_dir}/PoN/hg38/somatic-hg38_1000g_pon.hg38.vcf.gz"
  blacklist = "${params.resource_dir}/blacklists/hg38.ENCODE.blacklist.v2.bed"
  fings = "${project_dir}/filter_parameters.txt"
  strelka_conf = "${project_dir}/tumor_normal_pairs.csv"
  samples = "${project_dir}/samples.csv"
  gridss_ref = "BSgenome.Hsapiens.UCSC.hg38"
  callable_depth = 5
  minvaf = 0.3
  maxvaf = 0.7
}